#siteContent h1 {
  color: #fcf9fc;
  font-family: 'Comic Sans MS',Cursive;
  font-style: italic;
}

.field-item p {
  color: #000000;
  font-family: Tahoma,Geneva,Sans-Serif;
}

.form-item label {
  color: #000000;
  font-family: Tahoma,Geneva,Sans-Serif;
}

.form-item .description {
  color: #a6a3a6;
  font-family: 'Lucida Sans','Lucida Grande',Sans-Serif;
}

.field-item .small {
  color: #000000;
}

p strong {
  color: #b37830;
  font-family: Tahoma,Geneva,Sans-Serif;
  font-size: 24px;
}

form div {
  color: #9e8585;
}

.field-items .field-item {
  font-size: 16px;
}

body #wrap {
  font-family: Verdana,Geneva,Sans-Serif;
}

#content h1 {
  font-family: Tahoma,Geneva,Sans-Serif;
}

#block-search-form h2 {
  font-family: Tahoma,Geneva,Sans-Serif;
}

#wrap #main {
  font-family: Tahoma,Geneva,Sans-Serif;
}

li a {
  font-family: 'Comic Sans MS',Cursive;
  font-weight: bold;
  font-style: normal;
}

